
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

* {
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	webkit-appearance: none;
	webkit-text-size-adjust: none;
	word-wrap: break-word;
}

body {
	background-color: #F0F0F0;
	font-family: 'Quicksand', sans-serif;
	min-height: 100vh;
	padding: 40px 0 32px;
}

main {
	background: #fff;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	min-width: 320px;
	padding: 20px 0 18px;
	width: 600px;
}

main::after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

img.logo {
	display: block;
	height: 40px;
	margin: 0 32px 60px;
	width: 136px;
}

h1 {
	color: #1E203F;
	font-size: 26px;
	font-weight: 400;
	line-height: 32px;
	margin: 43px 32px 23px;
}

main p {
	color: #1E203F;
	font-size: 18px;
	line-height: 24px;
	margin: 0 32px 34px;
}

main p.problem {
	color: #FF3B30;
	display: none;
	font-size: 15px;
	line-height: 20px;
}

input {
	border: solid 2px #F0F0F0;
	border-radius: 8px;
	display: inline-block;
	float: left;
	font-size: 17px;
	height: 48px;
	margin: 0 0 24px 32px;
	padding: 0 16px;
	transition: .2s ease-in-out;
	width: calc(100% - 268px);
}

input:focus {
	border-color: #FF00C1;
	outline: none;
}

button {
	background: #FF00C0;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 18px;
	font-weight: 700;
	height: 48px;
	line-height: 48px;
	margin: 0 32px 36px 0;
	padding: 0 24px;
	text-align: center;
	text-decoration: none;
	transform: perspective(1px) scale(1);
	transition: .2s ease-in-out;
	width: 192px;
}

button:hover {
	background: #EB00B1;
}

button:active {
	background: #D700A2;
	transform: perspective(1px) scale(0.98);
}

footer {
	display: block;
	margin: 0 auto;
	min-width: 320px;
	padding: 29px 0 0;
	width: 600px;
}

footer p {
  color: #9494A4;
	font-size: 13px;
	line-height: 20px;
	margin: 0 32px 20px;
}

footer p a {
	color: #9494A4;
	text-decoration: underline;
}

.error .problem {
	display: block;
}

.error input {
	border-color: #FF3B30;
	color: #FF3B30;
}

img.appStore {
  height: 48px;
  margin: 0 12px 30px 32px;
  float: left;
}

img.appStore.play {
  margin-left: 0;
}

a img.appStore {
	transform: perspective(1px) scale(1);
	transition: .2s ease-in-out;
}

a:hover img.appStore {
	opacity: .8;
}

a:active img.appStore {
	transform: perspective(1px) scale(0.98);
}


@media screen and (max-width: 600px) {

	body {
		padding-top: 0;
	}

	main,
	 footer {
		border-radius: 0;
		width: 100%;
	}

	input,
	button {
		width: calc(100% - 48px);
	}

	td {
		border-radius: 0 !important;
	}

	img.logo,
	h1,
	main p,
	input,
	button,
	footer p {
		margin-left: 24px;
		margin-right: 24px;
	}

	img.appStore {
		margin-left: 24px;
	}

}

@media screen and (max-width: 374px) {

	img.appStore {
		height: 40px!important
	}

}

@supports (-webkit-touch-callout: none) {

	.play {
		display: none;
	}

	img.appStore {
			height: 48px!important;
	}

}

:root {
	color-scheme: light dark;
	supported-color-schemes: light dark;
}

@media (prefers-color-scheme: dark) {

	body {
		background: #1E203F;
	}

  main,
  input {
    background: #9494A4
  }

  input {
    color: #1E203F;
    border-color: #77788B;
  }

  input:focus {
    border-color: #4949FB;
  }

	::placeholder {
	   color:    #5B5C73;
		 opacity:  1;
	}

	button {
		background: #4949FB;
	}

  button:hover {
    background: #4343E7;
  }

  button:active {
    background: #3D3DD2;
  }

	main p.problem {
		color: #fff;
	}

	.error input {
		color: #fff;
		border-color: #fff;
	}

}
